*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  scroll-behavior: smooth;
  background-color: #f7f7f7;
}

html {
  font-family: "helvetica neue", sans serif;
}

.nav {
  border-bottom: solid 1px #e2e2e2;
  text-align: right;
  height: 70px;
  line-height: 70px;
}

.menu {
  margin: 0 30px 0 0;
  align-items: center;
  justify-content: space-evenly;
}

.menu a {
  clear: right;
  text-decoration: none;
  color: grey;
  padding: 15px 15px 15px 15px;
  margin: 0 10px;
  border-radius: 10px;
  transition: 70ms;
  line-height: 70px;
}

.menu a:hover {
  background-color: #888;
  color: #fff;
}

#form{
  width: 100%;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: #07f33e 2px solid;
}
#form h3{
  margin: 1rem auto;
  font-size: 2.5rem;
}
form{
  width: 28rem;
  height: 38rem;
  font-size: 20px;
  border-radius: 6px;
  box-shadow: .2px .2px 5px .01px rgb(39, 39, 39);
  margin: 3rem auto;
  border: black 1px solid;
  align-items: center;
  justify-content: center;
}
.form-control input, .form-group select, .form-control textarea{
  width: 20rem;
  height: 2.5rem;
  border-radius: 4px;
  border: solid .1px rgb(45, 196, 37);
  color: #888;
  font-size: 1rem;
  line-height: 1.5rem;
  font-size: .8rem;
  padding: .4rem .5rem;
  margin: .5rem auto;
  background-color: #dfdfdf41;
}

.form-control textarea{
  resize: none;
  height: 10rem;
}

#form button{
  width: 10rem;
  background-color: #e7e7e7;
  border: none;
}

#form button:hover{
  background-color: #bfbfbf;
  color: #fff;
}

label {
  margin: 0 40px 0 0;
  font-size: 26px;
  line-height: 70px;
  display: none;
  width: 26px;
  float: right;
}

#toggle {
  display: none;
}

header {
  background: linear-gradient(90deg, hsla(0, 0%, 0%, 1) 28%, hsla(210, 10%, 25%, 1) 100%);
  position: fixed;
  z-index: 100;
  width: 100%;
}

#loginSymbol {
  border: 1px solid white;
  color: white;
}

#loginSymbol:hover {
  opacity: 50%;
  transition: 150ms;
}

#imageDesfoc {
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #eaeaeb;
  letter-spacing: .85rem;
  scroll-margin-top: 0;
}

#imageDesfoc img {
  filter: brightness(0.45) blur(3px);
  height: 50%;
  position: relative;
}

#slogan {
  position: absolute;
  align-items: center;
  justify-content: center;
}

#slogan h1 {
  text-align: center;
}

#buttonTop {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

button {
  font-size: 1.3rem;
  width: 10rem;
  height: 3rem;
  border-radius: 12px;
  box-shadow: .5px .5px 0 0;
}

button:hover {
  transform: scale(.9) translateY(-7%);
  transition: all .6s ease-in-out;
  cursor: pointer;
  background-color: #888;
  box-shadow: 0 0 0 0;
}

#card-principal{
  max-width: 100vw;
  max-height: 100vh;
  display: flex;
  margin: 6.5rem 0 3.5rem;
  padding: 1rem;
  gap: 3rem;
}
#card-img-top{
  width: 100%;
}
#services{
  width: 50%;
}
#services h6{
  font-size: 1.2rem;
  color: rgb(0, 254, 8);
  margin: 1rem 0;
}
#services h4{
  font-size: 3rem;
  margin: 2rem 0;
}
#services p{
  font-size: 1.86rem;
  margin: 0;
}

.accordion{
  width: 100%;
  display: flex;
  justify-content: center;
  height: 35.8rem;
  gap: 1rem;
  transition: .3s;
  margin: 1.5rem 0 4rem ;
}
.accordion:hover{
  gap: 0;
}
.accordion h2{
  font-weight: 400;
  font-size: 24px;
  line-height: 45px;
  border-bottom: 2px solid #fff;
  white-space: nowrap;
}
.accordion li{
  position: relative;
  overflow: hidden;
  flex: 0 0 8.5rem;
  border-radius: 50px;
  opacity: 0.75px;
  cursor: pointer;
}
.accordion li img{
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.accordion li,
.accordion li img,
.accordion li .contents,
.accordion li .contents span{
  transition: 0.3s;
}
.accordion li .contents{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  color: #fff;
  padding: 15px;
  background: #02022e;
  background: linear-gradient(0deg, rgb(0 0 0 / 70%)10%, rgb(255 255 255 / 0%)100%);
  opacity: 0;
  visibility: hidden;
}
.accordion li .contents span{
  position: absolute;
  z-index: 3;
  left: 50%;
  bottom: 50px;
  translate: -300px 0;
  visibility: hidden;
  opacity: 0;
}
.accordion li:hover{
  flex: 0 1 50rem;
  scale: 1.1;
  z-index: 10;
  opacity: 1;
}
.accordion li:hover .contents{
  opacity: 1;
  visibility: visible;
}
.accordion li:hover span{
  translate: -50% 0;
  opacity: 1;
  visibility: visible;
}
.about-services h2{
  align-items: center;
  text-align: center;
  font-size: 2.5rem;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.about-services{
  padding: 3rem 0 .2rem;
  background-color: #bf9dba2d;
}


@media (max-width: 319px) {
  label {
    display: block;
    cursor: pointer;
  }

  .menu {
    text-align: center;
    width: 100%;
    display: none;
    position: relative;
    z-index: 1;
    background: linear-gradient(90deg, hsla(0, 0%, 0%, 1) 28%, hsla(210, 10%, 25%, 1) 100%);
  }

  .menu a {
    display: block;
    border-bottom: solid 1px #eaeaeb;
    margin: 0;
    padding: 0;
  }

  .menu a:hover {
    color: #fff;
    background-color: #888;
    opacity: 50%;
  }

  #toggle:checked+.menu {
    display: inline-block;
  }

  #loginSymbol {
    border: 1px solid white;
    color: gray;
  }

  #loginSymbol:hover {
    color: white;
  }

  #imageDesfoc {
    display: flex;
    position: relative;
    height: 150%;
  }

  #slogan {
    padding: 0;
    margin: 0;
    display: block;
    letter-spacing: .70rem;
    align-items: center;
    position: absolute;
  }

  #slogan h1 {
    margin-bottom: 0rem;
    font-size: 1.2rem;
  }

  #slogan h2 {
    font-size: .6rem;
    margin-top: .5rem;
    text-align: center;
  }

  #buttonTop {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: .8rem;
  }
  button{
    width: 5rem;
    height: 2.5rem;
    font-size: .7rem;
  }
  #services{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  #services h6{
    font-size: 1rem;
    margin: .7rem 0;
  }
  #services h4{
    font-size: 1.9rem;
    margin: .7rem 0;
  }
  #services p{
    font-size: 1.2rem;
    margin: .7rem 0;
  }
  #card-img-top{
    width: 100%;
    margin-top: 2rem;
  }
  #card-principal{
    max-width: 100%;
    max-height: 100%;
    display: inline-block;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
    margin: 2rem 0;
  }
  .accordion{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 20rem;
    gap: .1rem;
    transition: .3s;
  }
  .accordion:hover{
    gap: 0;
  }
  .accordion h2{
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    border-bottom: 2px solid #fff;
    white-space: nowrap;
  }
  .accordion li{
    position: relative;
    overflow: hidden;
    flex: 0 0 4rem;
    border-radius: 50px;
    opacity: 0.75px;
  }
  .accordion li img{
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .accordion li,
  .accordion li img,
  .accordion li .contents,
  .accordion li .contents span{
    transition: 0.3s;
  }
  .accordion li .contents{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    color: #fff;
    padding: 15px;
    background: #02022e;
    background: linear-gradient(0deg, rgb(0 0 0 / 70%)10%, rgb(255 255 255 / 0%)100%);
    opacity: 0;
    visibility: hidden;
  }
  .accordion li .contents span{
    position: absolute;
    z-index: 3;
    left: 50%;
    bottom: 50px;
    translate: -300px 0;
    visibility: hidden;
    opacity: 0;
  }
  .accordion li:hover{
    flex: 0 1 37.5rem;
    scale: 1.1;
    opacity: 1;
  }
  .accordion li:hover .contents{
    opacity: 1;
    visibility: visible;
  }
  .accordion li:hover span{
    translate: -50% 0;
    opacity: 1;
    visibility: visible;
  }

}

@media (min-width: 319px) and (max-width: 420px) {
  label {
    display: block;
    cursor: pointer;
  }

  .menu {
    text-align: center;
    width: 100%;
    display: none;
    position: relative;
    z-index: 1;
    background: linear-gradient(90deg, hsla(0, 0%, 0%, 1) 28%, hsla(210, 10%, 25%, 1) 100%);
  }

  .menu a {
    display: block;
    border-bottom: solid 1px #eaeaeb;
    margin: 0;
    padding: 0;
  }

  .menu a:hover {
    color: #fff;
    background-color: #888;
    opacity: 50%;
  }

  #toggle:checked+.menu {
    display: inline-block;
  }

  #loginSymbol {
    border: 1px solid white;
    color: gray;
  }

  #loginSymbol:hover {
    color: white;
  }

  #imageDesfoc {
    display: flex;
    position: relative;
  }

  #slogan {
    padding: 0;
    margin: 0;
    display: block;
    letter-spacing: .70rem;
    align-items: center;
    position: absolute;
  }

  #slogan h1 {
    font-size: 1.6rem;
    margin-top: 0;
  }

  #slogan h2 {
    font-size: .7rem;
    margin-top: .5rem;
    text-align: center;
    letter-spacing: .4rem;
  }

  #buttonTop {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
  }
  button{
    width: 5rem;
    height: 2.5rem;
    font-size: .7rem;
  }
  #services{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  #services h6{
    font-size: 1rem;
    margin: .7rem 0;
  }
  #services h4{
    font-size: 1.9rem;
    margin: .7rem 0;
  }
  #services p{
    font-size: 1.2rem;
    margin: .7rem 0;
  }
  #card-img-top{
    width: 100%;
    margin-top: 2rem;
  }
  #card-principal{
    max-width: 100%;
    max-height: 100%;
    display: inline-block;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
    margin: 2rem 0 5rem;
  }
  .accordion{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 30rem;
    gap: .1rem;
    transition: .3s;
  }
  .accordion:hover{
    gap: 0;
  }
  .accordion h2{
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    border-bottom: 2px solid #fff;
    white-space: nowrap;
  }
  .accordion li{
    position: relative;
    overflow: hidden;
    flex: 0 0 4rem;
    border-radius: 50px;
    opacity: 0.75px;
  }
  .accordion li img{
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .accordion li,
  .accordion li img,
  .accordion li .contents,
  .accordion li .contents span{
    transition: 0.3s;
  }
  .accordion li .contents{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    color: #fff;
    padding: 15px;
    background: #02022e;
    background: linear-gradient(0deg, rgb(0 0 0 / 70%)10%, rgb(255 255 255 / 0%)100%);
    opacity: 0;
    visibility: hidden;
  }
  .accordion li .contents span{
    position: absolute;
    z-index: 3;
    left: 50%;
    bottom: 50px;
    translate: -300px 0;
    visibility: hidden;
    opacity: 0;
  }
  .accordion li:hover{
    flex: 0 1 15rem;
    scale: 1.1;
    opacity: 1;
  }
  .accordion li:hover .contents{
    opacity: 1;
    visibility: visible;
  }
  .accordion li:hover span{
    translate: -50% 0;
    opacity: 1;
    visibility: visible;
  }
}

/* Estilos para telefones pequenos e telas menores */
@media (min-width: 420px) and (max-width: 504px) {
  label {
    display: block;
    cursor: pointer;
  }

  .menu {
    text-align: center;
    width: 100%;
    display: none;
    position: relative;
    z-index: 1;
    background: linear-gradient(90deg, hsla(0, 0%, 0%, 1) 28%, hsla(210, 10%, 25%, 1) 100%);
  }

  .menu a {
    display: block;
    border-bottom: solid 1px #eaeaeb;
    margin: 0;
    padding: 0;
  }

  .menu a:hover {
    color: #fff;
    background-color: #888;
    opacity: 50%;
  }

  #toggle:checked+.menu {
    display: inline-block;
  }

  #loginSymbol {
    border: 1px solid white;
    color: gray;
  }

  #loginSymbol:hover {
    color: white;
  }

  #imageDesfoc {
    display: flex;
    position: relative;
  }

  #slogan {
    top: 18%;
    padding: 0;
    margin: 0;
    display: block;
    letter-spacing: .5rem;
    align-items: center;
    position: absolute;
    align-items: center;
  }

  #slogan h1 {
    font-size: 2rem;
    letter-spacing: .5rem;
    margin-top: 0;
  }

  #slogan h2 {
    font-size: 1rem;
    margin-top: .3rem;
    text-align: center;
    
  }

  #buttonTop {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: .3rem;
  }
  button{
    width: 5rem;
    height: 2.5rem;
    font-size: .7rem;
  }
  #services{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  #services h6{
    font-size: 1rem;
    margin: .7rem 0;
  }
  #services h4{
    font-size: 1.9rem;
    margin: .7rem 0;
  }
  #services p{
    font-size: 1.2rem;
    margin: .7rem 0;
  }
  #card-img-top{
    width: 100%;
    margin-top: 2rem;
  }
  #card-principal{
    max-width: 100%;
    max-height: 100%;
    display: inline-block;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
    margin: 2rem 0 5rem;
  }
  .accordion{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 30rem;
    gap: .1rem;
    transition: .3s;
  }
  .accordion:hover{
    gap: 0;
  }
  .accordion h2{
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    border-bottom: 2px solid #fff;
    white-space: nowrap;
  }
  .accordion li{
    position: relative;
    overflow: hidden;
    flex: 0 0 4rem;
    border-radius: 50px;
    opacity: 0.75px;
  }
  .accordion li img{
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .accordion li,
  .accordion li img,
  .accordion li .contents,
  .accordion li .contents span{
    transition: 0.3s;
  }
  .accordion li .contents{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    color: #fff;
    padding: 15px;
    background: #02022e;
    background: linear-gradient(0deg, rgb(0 0 0 / 70%)10%, rgb(255 255 255 / 0%)100%);
    opacity: 0;
    visibility: hidden;
  }
  .accordion li .contents span{
    position: absolute;
    z-index: 3;
    left: 50%;
    bottom: 50px;
    translate: -300px 0;
    visibility: hidden;
    opacity: 0;
  }
  .accordion li:hover{
    flex: 0 1 17rem;
    scale: 1.1;
    opacity: 1;
  }
  .accordion li:hover .contents{
    opacity: 1;
    visibility: visible;
  }
  .accordion li:hover span{
    translate: -50% 0;
    opacity: 1;
    visibility: visible;
  }
}

/* Estilos para telefones maiores e tablets pequenos */
@media (min-width: 505px) and (max-width: 707px) {
  label {
    display: block;
    cursor: pointer;
  }

  .menu {
    text-align: center;
    width: 100%;
    display: none;
    position: relative;
    z-index: 1;
    background: linear-gradient(90deg, hsla(0, 0%, 0%, 1) 28%, hsla(210, 10%, 25%, 1) 100%);
  }

  .menu a {
    display: block;
    border-bottom: solid 1px #eaeaeb;
    margin: 0;
    padding: 0;
  }

  .menu a:hover {
    color: #fff;
    background-color: #888;
    opacity: 50%;
  }

  #toggle:checked+.menu {
    display: inline-block;
  }

  #loginSymbol {
    border: 1px solid white;
    color: gray;
  }

  #loginSymbol:hover {
    color: white;
  }

  #imageDesfoc {
    display: flex;
    position: relative;
  }

  #slogan {
    top: 18%;
    padding: 0;
    margin: 0;
    display: block;
    letter-spacing: .5rem;
    align-items: center;
    position: absolute;
    align-items: center;
  }

  #slogan h1 {
    font-size: 2.6rem;
    letter-spacing: .5rem;
    margin-top: 0;
  }

  #slogan h2 {
    font-size: 1.3rem;
    margin-top: .4rem;
    text-align: center;
    
  }

  #buttonTop {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: .8rem;
  }
  button{
    width: 5rem;
    height: 2.5rem;
    font-size: .7rem;
  }
  #services{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  #services h6{
    font-size: 1rem;
    margin: .7rem 0;
  }
  #services h4{
    font-size: 1.9rem;
    margin: .7rem 0;
  }
  #services p{
    font-size: 1.2rem;
    margin: .7rem 0;
  }
  #card-img-top{
    width: 100%;
    margin-top: 2rem;
  }
  #card-principal{
    max-width: 100%;
    max-height: 100%;
    display: inline-block;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
    margin: 2rem 0 5rem;
  }
  .accordion{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 30rem;
    gap: .1rem;
    transition: .3s;
  }
  .accordion:hover{
    gap: 0;
  }
  .accordion h2{
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    border-bottom: 2px solid #fff;
    white-space: nowrap;
  }
  .accordion li{
    position: relative;
    overflow: hidden;
    flex: 0 0 4rem;
    border-radius: 50px;
    opacity: 0.75px;
  }
  .accordion li img{
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .accordion li,
  .accordion li img,
  .accordion li .contents,
  .accordion li .contents span{
    transition: 0.3s;
  }
  .accordion li .contents{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    color: #fff;
    padding: 15px;
    background: #02022e;
    background: linear-gradient(0deg, rgb(0 0 0 / 70%)10%, rgb(255 255 255 / 0%)100%);
    opacity: 0;
    visibility: hidden;
  }
  .accordion li .contents span{
    position: absolute;
    z-index: 3;
    left: 50%;
    bottom: 50px;
    translate: -300px 0;
    visibility: hidden;
    opacity: 0;
  }
  .accordion li:hover{
    flex: 0 1 17rem;
    scale: 1.1;
    opacity: 1;
  }
  .accordion li:hover .contents{
    opacity: 1;
    visibility: visible;
  }
  .accordion li:hover span{
    translate: -50% 0;
    opacity: 1;
    visibility: visible;
  }
}
/* Estilos para tablets e monitores menores */
@media (min-width: 707px) and (max-width: 991.98px) {
  #slogan {
    top: 15%;
    padding: 0;
    margin: 0;
    display: block;
    align-items: center;
    position: absolute;
    align-items: center;
  }

  #slogan h1 {
    font-size: 3.8rem;
    letter-spacing: 1.5rem;
    margin-top: 0;
  }

  #slogan h2 {
    font-size: 1.8rem;
    letter-spacing: .7rem;
    margin-top: 1rem;
    text-align: center;
  }

  #buttonTop {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: .8rem;
  }
  button{
    width: 6rem;
    height: 2.5rem;
    font-size: .8rem;
    margin-top: 1rem;
  }
  #services{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  #services h6{
    font-size: 1rem;
    margin: .7rem 0;
  }
  #services h4{
    font-size: 1.9rem;
    margin: .7rem 0;
  }
  #services p{
    font-size: 1.2rem;
    margin: .7rem 0;
  }
  #card-img-top{
    width: 100%;
    margin-top: 2rem;
  }
  #card-principal{
    max-width: 100%;
    max-height: 100%;
    display: inline-block;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
    margin: 2rem 0 5rem;
  }
  .accordion{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 30rem;
    gap: .1rem;
    transition: .3s;
  }
  .accordion:hover{
    gap: 0;
  }
  .accordion h2{
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    border-bottom: 2px solid #fff;
    white-space: nowrap;
  }
  .accordion li{
    position: relative;
    overflow: hidden;
    flex: 0 0 4rem;
    border-radius: 50px;
    opacity: 0.75px;
  }
  .accordion li img{
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .accordion li,
  .accordion li img,
  .accordion li .contents,
  .accordion li .contents span{
    transition: 0.3s;
  }
  .accordion li .contents{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    color: #fff;
    padding: 15px;
    background: #02022e;
    background: linear-gradient(0deg, rgb(0 0 0 / 70%)10%, rgb(255 255 255 / 0%)100%);
    opacity: 0;
    visibility: hidden;
  }
  .accordion li .contents span{
    position: absolute;
    z-index: 3;
    left: 50%;
    bottom: 50px;
    translate: -300px 0;
    visibility: hidden;
    opacity: 0;
  }
  .accordion li:hover{
    flex: 0 1 29rem;
    scale: 1.1;
    opacity: 1;
  }
  .accordion li:hover .contents{
    opacity: 1;
    visibility: visible;
  }
  .accordion li:hover span{
    translate: -50% 0;
    opacity: 1;
    visibility: visible;
  }
}

/* Estilos para monitores maiores e desktops */
@media (min-width: 992px) and (max-width: 1199.98px) {
  #slogan {
    top: 20%;
    padding: 0;
    margin: 0;
    display: block;
    align-items: center;
    position: absolute;
    align-items: center;
  }

  #slogan h1 {
    font-size: 5rem;
    letter-spacing: 2rem;
    margin-top: 0;
  }

  #slogan h2 {
    font-size: 2rem;
    letter-spacing: 1.3rem;
    margin-top: .8rem;
    text-align: center;
  }

  #buttonTop {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.2rem;
  }
  button{
    width: 9rem;
    height: 3.2rem;
    font-size: 1.2rem;
    margin-top: 1rem;
  }
  #services{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 5rem;
  }
  #services h6,
  #services h4,
  #services p{
    margin:0 0 .7rem ;
  }
  #services h6{
    font-size: 1.8rem;
  }
  #services h4{
    font-size: 3.1rem;
  }
  #services p{
    font-size: 1.8rem;
  }
  #card-img-top{
    width: 100%;
    margin: 1.5rem 0 5rem;
  }
  #card-principal{
    max-width: 100%;
    max-height: 100%;
    display: inline-block;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
    margin: 2rem 0 5rem;
  }
  .accordion{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 43rem;
    gap: .1rem;
    transition: .3s;
  }
  .accordion:hover{
    gap: 0;
  }
  .accordion h2{
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    border-bottom: 2px solid #fff;
    white-space: nowrap;
  }
  .accordion li{
    position: relative;
    overflow: hidden;
    flex: 0 0 4rem;
    border-radius: 50px;
    opacity: 0.75px;
  }
  .accordion li img{
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .accordion li,
  .accordion li img,
  .accordion li .contents,
  .accordion li .contents span{
    transition: 0.3s;
  }
  .accordion li .contents{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    color: #fff;
    padding: 15px;
    background: #02022e;
    background: linear-gradient(0deg, rgb(0 0 0 / 70%)10%, rgb(255 255 255 / 0%)100%);
    opacity: 0;
    visibility: hidden;
  }
  .accordion li .contents span{
    position: absolute;
    z-index: 3;
    left: 50%;
    bottom: 50px;
    translate: -300px 0;
    visibility: hidden;
    opacity: 0;
  }
  .accordion li:hover{
    flex: 0 1 45rem;
    scale: 1.1;
    opacity: 1;
  }
  .accordion li:hover .contents{
    opacity: 1;
    visibility: visible;
  }
  .accordion li:hover span{
    translate: -50% 0;
    opacity: 1;
    visibility: visible;
  }
}

/* Estilos para telas maiores, como monitores widescreen */
@media (min-width: 1200px) {
  #slogan {
    top: 30%;
    padding: 0;
    margin: 0;
    display: block;
    align-items: center;
    position: absolute;
    align-items: center;
  }

  #slogan h1 {
    font-size: 6rem;
    letter-spacing: 2rem;
    margin-top: 0;
  }

  #slogan h2 {
    font-size: 2.2rem;
    letter-spacing: 1.5rem;
    margin-top: 0;
    text-align: center;
  }

  #buttonTop {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
  }
  
}